@import "base";
@import "core/index";
@import "utilities/index";
@import "objects/index";
@import "overrides/index";

// start Design System component imports
@import "components/back-link";
@import "components/button";
@import "components/cookie-banner";
@import "components/details";
@import "components/footer";
@import "components/header";
@import "components/skip-link";
// end Design System component imports

.govuk-service-navigation__item:last-child {
  margin-left: auto;
}

.govuk-header--with-sign-out-link {
  .govuk-header__content {
    text-align: right;
  }

  @include govuk-media-query($until: tablet) {
    .govuk-header__navigation-list {
      display: block !important;
    }

    .govuk-header__menu-button {
      display: none !important;
    }

    .govuk-header__logo {
      float: left;
      padding-right: 0;
    }

    .govuk-header__content {
      float: right;
    }
  }
}
