# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directories
dist/

# Test results
coverage/

# Playwright
tests/ui-tests/node_modules/
tests/ui-tests/test-results/
tests/ui-tests/playwright-report/
tests/ui-tests/blob-report/
tests/ui-tests/playwright/.cache/
tests/ui-tests/playwright/.auth/
tests/ui-tests/.features-gen/
tests/ui-tests/.DS_Store/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.*
!.env.example

# Terraform outputs
infra/.terraform
infra/.terraform.lock.hcl

# Additional ignores
.idea
.DS_Store
volume
