{% extends "common/layout/base-layout.njk" %}
{% set pageTitleName = "Sorry, there is a problem with the service" %}

{% block pageContent %}
  <h1 class="govuk-heading-l">Sorry, there is a problem with the service.</h1>
  <p class="govuk-body">Try again later.</p>
{% endblock %}
