{{ govukHeader({
  homepageUrl: "/",
  productName: "One Login Admin",
  classes: "govuk-header--with-sign-out-link",
  navigation: [
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
