{% extends "common/layout/base-layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set pageTitleName = 'View service name' %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
      items: [
        { text: "Your services", href: "/services" },
        { text: "Service name"}
      ]
    })
  }}
{% endblock %}

{% block sideNavigation %}
  {% if sideNavItems %}
    {% set ariaLabel = "Service menu" %}
    {% include 'common/layout/side-navigation.njk' %}
  {% endif %}
{% endblock %}

{% block pageContent %}
  <h1 class="govuk-heading-l">Service name</h1>
  <h2 class="govuk-heading-m">Production Client</h2>

  {% if productionClient %}
    {{
      govukSummaryList({
        card: {
          title: { text: productionClient.name },
          actions: {
            items: [
              {
                href: "#",
                text: "View",
                visuallyHiddenText: "production client"
              }
            ]
          }
        },
        rows: [
          {
            key: { text: "Client ID" },
            value: { html: "<code class='red-code'>" + productionClient.clientId + "</code>" }
          }
        ]
      })
    }}

    {{
      govukInsetText({
        text: "Production client is read-only. Contact support if you need to make changes."
      })
    }}
  {% else %}
    {{
      govukSummaryList({
        rows: [
          {
            key: { text: "Status" },
            value: { html: "<strong class='govuk-tag govuk-tag--grey'>Not yet created</strong>" }
          }
        ]
      })
    }}
    {{
      govukInsetText({
        text: "You do not have a production client yet. When you have completed testing with an integration client you can request to go live."
      })
    }}
  {% endif %}

  <h2 class="govuk-heading-m">Integration Clients</h2>
  {% if integrationClients %}
    {% for integrationClient in integrationClients %}
      {{
        govukSummaryList({
          card: {
            title: { text: integrationClient.name },
            actions: {
              items: [
                {
                  href: "#",
                  text: "View",
                  visuallyHiddenText: integrationClient.name + " client"
                }
              ]
            }
          },
          rows: [{
            key: { text: "Client ID" },
            value: { html: "<code class='red-code'>" + integrationClient.clientId + "</code>" }
          }]
        })
      }}
    {% endfor %}
  {% else %}
    {{
      govukInsetText({
        text: "You do not have any integration clients yet."
      })
    }}
  {% endif %}

  {% if hasIntegrationWriterPermissions %}
    {{
      govukButton({
        text: "Create a new integration client",
        href: "/services/serviceId/clients/create",
        classes: "govuk-button--secondary"
      })
    }}
  {% endif %}
{% endblock %}
