{% extends "common/layout/base-layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitleName = "Create client summary" %}
{% set viewServiceUrl %}/services/{{ serviceId }}{% endset %}
{% set serviceName %}{{ serviceName }}{% endset %}

{% set coreFieldsRowItems = [] %}

{%
  set coreFieldsRowItems = coreFieldsRowItems.concat([
    {
      key: { text: "Client Name" },
      value: { html: '<div id="name">'+client.name | default("Not set")+'</div>' },
      actions: {
        items: [{ href: baseUrl+"/edit-client-name", text: "Change", visuallyHiddenText: "client name" }]
      }
    }
  ])
%}
{% if client.clientAuthenticationMethod == "JWKS" %}
  {%
    set coreFieldsRowItems = coreFieldsRowItems.concat([
      {
        key: { text: "Client authentication method" },
        value: { html: '<div id="client-authentication-method">Public key URL (JWKS)</div>' },
        actions: {
          items: [{ href: baseUrl+"/edit-client-authentication", text: "Change", visuallyHiddenText: "client authentication method" }]
        }
      },
      {
        key: { text: "JWKS URL" },
        value: { html: '<div id="jwks-endpoint">'+client.jwksURL+'</div>' },
        actions: {
          items: [{ href: baseUrl+"/edit-client-authentication", text: "Change", visuallyHiddenText: "jwks url" }]
        }
      }
    ])
  %}
{% elif client.clientAuthenticationMethod == "STATIC" %}
  {%
    set coreFieldsRowItems = coreFieldsRowItems.concat([
      {
        key: { text: "Client Authentication Method" },
        value: { html: '<div id="client-authentication-method">Fixed public key</div>' },
        actions: {
          items: [{ href: baseUrl+"/edit-client-authentication", text: "Change", visuallyHiddenText: "client authentication method" }]
        }
      },
      {
        key: { text: "Public key" },
        value: { html: '<div id="public-key">'+client.publicKey+'</div>' },
        actions: {
          items: [{ href: baseUrl+"/edit-client-authentication", text: "Change", visuallyHiddenText: "public key" }]
        }
      }
    ])
  %}
{% elif client.clientAuthenticationMethod == "CLIENT_SECRET" %}
  {%
    set coreFieldsRowItems = coreFieldsRowItems.concat([
      {
        key: { text: "Client Authentication Method" },
        value: { html: '<div id="client-authentication-method">Client secret</div>' },
        actions: {
          items: [{ href: baseUrl+"/edit-client-authentication", text: "Change", visuallyHiddenText: "client authentication method" }]
        }
      },
      {
        key: { text: "Client secret" },
        value: { html: '<div id="client-secret">'+client.clientSecret+'</div>' },
        actions: {
          items: [{ href: baseUrl+"/edit-client-authentication", text: "Change", visuallyHiddenText: "client secret" }]
        }
      }
    ])
  %}
{% else %}
  {%
    set coreFieldsRowItems = coreFieldsRowItems.concat([
      {
        key: { text: "Client Authentication Method" },
        value: { html: '<div id="client-authentication-method">Not set</div>' },
        actions: {
          items: [{ href: baseUrl+"/edit-client-authentication", text: "Change", visuallyHiddenText: "client authentication method" }]
        }
      }
    ])
  %}
{% endif %}
{%
  set coreFieldsRowItems = coreFieldsRowItems.concat([
    {
      key: { text: "Token Authentication Method" },
      value: { html: '<div id="token-authentication-method">'+client.clientTokenAuthenticationMethod | default("Not set")+'</div>' },
      actions: {
        items: [{ href: "/", text: "Change", visuallyHiddenText: "token auth method" }]
      }
    },
    {
      key: { text: "Redirect URLs" },
      value: {
        html: '<div id="redirect-urls">' + (client.redirectUrls | join("<br>") if client.redirectUrls else "Not set") + '</div>'
      },
      actions: {
        items: [{ href: "/", text: "Change", visuallyHiddenText: "redirect urls" }]
      }
    },
    {
      key: { text: "Scopes" },
      value: {
        html: '<div id="scopes">'+(client.scopes | join("<br>") if client.scopes else "Not set")+'</div>'
      },
      actions: {
        items: [{ href: "/", text: "Change", visuallyHiddenText: "scopes" }]
      }
    }
  ])
%}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
    items: [
      { text: "Your services", href: "/services" },
      { text: serviceName, href: viewServiceUrl },
      { text: "Create a client" } ] })
  }}
{% endblock %}

{% block pageContent %}
  <form class="form" action="summary" method="post">
    <h1 class="govuk-heading-xl">
      Check these details before creating your client
    </h1>

    {{
      govukSummaryList({
        card: {
          title: {
            text: "Core fields"
          }
        },
        rows: coreFieldsRowItems
      })
    }}

    <h2 class="govuk-heading-m">Now create your client</h2>
    {{
      govukButton({
        text: "Create client"
      })
    }}
  </form>
{% endblock %}
