{% extends "common/layout/base-layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitleName = 'Create a new service' %}

{% block pageContent %}
  <form class="form" action="/services/create" method="post">
    {{
      govukInput({
        label: {
          text: "What is the name of your service?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: "name",
        name: "name",
        errorMessage: {
          text: errors["name"].text
        } if (errors["name"])
      })
    }}

    {{
      govukTextarea({
        label: {
          text: "Describe your service",
          classes: "govuk-label--m"
        },
        hint: {
          text: "Describe what users can do when they access this service (optional)"
        },
        id: "description",
        name: "description",
        errorMessage: {
          text: errors["description"].text
        } if (errors["description"])
      })
    }}

    {{
      govukButton({
        text: "Continue"
      })
    }}

    <p class="govuk-body"><a href="/services" class="govuk-link">Cancel</a></p>
  </form>
{% endblock %}
